.featured {
  width: 100%;
  max-width: 1024px;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 70px;
  justify-content: space-between;
  gap: 20px;
  /* z-index: -1; */
  /* -webkit-filter: blur(2px); */
  transition: all 0.2s ease-in;
}
.loading {
  background: #ffffff
    url("https://cdn.dribbble.com/users/839429/screenshots/4519779/plane-travel-icon-rebound2.gif")
    center no-repeat;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 88;
  width: 100vw;
  /* background-color: rgba(0, 0, 0, 0.829); */
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.featureditem {
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  height: 250px;
}
.featuredim {
  width: 100%;
  object-fit: cover;
}
.featuredtitles {
  position: absolute;
  top: 20px;
  font-family: sans-serif;
  color: #543a70;
  left: 10px;
  font-size: 15px;
}
.featuredim:hover {
  box-shadow: 3px 3px black;
}
