.footer {
  width: 100%;
  max-width: 1024px;
  font-size: 14px;
  margin-top: 50px;
  margin-left: 100px;
}
.flists {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.flist {
  list-style: none;
  padding-bottom: 50px;
  margin-bottom: 60px;
}

.flistitem {
  font-family: sans-serif;
  padding: 4px;
  color: #543a70;
  font-weight: 400;
  -webkit-filter: blur(1px);
  /* width: 200px; */
}

.flistitem:hover {
  color: red;
  cursor: pointer;
  -webkit-filter: blur(0px);
  font-size: 16px;
}

.ftext {
  font-family: monospace;
  color: gray;
  margin: 100px;
}
.ftext > span {
  color: black;
}
